:root{
    --color-text: #FAFAFA;
    --bg-color: #0B0A0A;
    --color-primary: #c3c0bb;
    --color-secondary: #131311;
    --color-three: #7e7f71;
}
body{
    background-color: #FDFEFE;
}
.menu{
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 10px 20px 10px 20px;
}
.icon-social{
    height: 1.5em;
}
.hero{
    display: grid;
    align-items: center;
}

.button-primary {
    align-items: center;
    background-color: var(--color-primary);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: var(--color-secondary);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
   }
   
   .button-primary:hover,
   .button-primary:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
   }
   
   .button-primary:hover {
    transform: translateY(-1px);
   }
   
   .button-primary:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
   }
   .icon-item{
    height: 3em;
   }
   .footer{
    background: var(--bg-color);
    color: var(--color-text);
    text-align: center;
    padding: 15px;
    margin: 50px 0 0 0;
   }